<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
  <%- include('./partials/nav.ejs')%>

    <div class="blogs content">

      <% if (user) {%>
        <h1>WELCOME BACK <%= user.username %></h1>
        <a href="/profile/<%= user.id %>">Profile</a>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <h1>please log in</h1>
        <form action="/login" method="POST">
          <label for="username">Username</label>
          <input name="username" placeholder="username" type="text" />
          <label for="password">Password</label>
          <input name="password" type="password" />
          <button>Log In</button>
        </form>
      <%}%>

        <h2>Your Feed</h2>
        <% if(tweets.length > 0) { %>
          <% tweets.forEach(tweet => {%>
              <h3 class="tweet"><%= tweet.body %></h3>
              <p class="user">Posted by:<%= tweet.username %></p>
            </a>
          <% }) %>
        <% } else { %>
          <p>Post a tweet to see more</p>
        <% } %>
    </div>
</body>
<%- include('./partials/footer.ejs')%>
</html>