<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
  <%- include('./partials/nav.ejs')%>
    <div class="create-tweet content">
        <img class="profile_photo" src="/images/cat_photo.jpeg">
        <h1>@<%= user.username %></h1>
        <% if(user.tweets.length > 0) { %>
          <% user.tweets.forEach(tweet => {%>
              <h3 class="tweet">The Tweet is:<%= tweet.body %></h3>
              <h3 class="tweet">The time is:<%= tweet.createdAt %></h3>
            </a>
          <% }) %>
        <% } else { %>
          <p>Post a tweet to see more</p>
        <% } %>
    </div>
  </body>
  <%- include('./partials/footer.ejs')%>
</html>
